<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="health_mapper.OrderSettingMapper">
    <insert id="importOrderSettings">
        insert into t_ordersetting value
        <foreach collection="orderSettings" item="orderSetting" separator=",">
            ( null, #{orderSetting.orderDate},#{orderSetting.number} , null )
        </foreach>
    </insert>
</mapper>